@font-face {
  font-family: 'CustomFont';
  src: url('../assets/tan-mon-cheri.ttf') format('truetype');
}

@font-face {
  font-family: 'OtherFont';
  src: url('../assets/HankenGrotesk.ttf') format('truetype');
}

body {
  background-color: var(--very-light);
  margin: 0;
  max-height: 100vh;
}

.page-title {
  text-align: center;
  color: var(--dark-brown);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.form-wrapper {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
}

.steps-container {
  margin-bottom: 20px;
}

.form-container {
  border-radius: 16px;
  padding: 40px;
  text-align: center;
  min-height: 500px;
}

.option-circle {
  position: relative; /* Change to relative positioning */
  width: 50%;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 12px;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.option-circle:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.option-circle.selected {
  border: 3px solid #3dbdb0; /* Highlight color for selected option */
}

.option-text {
  position: absolute; /* Absolute positioning for the text */
  color: white;
  text-align: center;
  font-family: 'OtherFont', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px; /* Adjust letter spacing if needed */
  z-index: 1;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center */
  padding: 0 5px; /* Optional: add padding to avoid text touching the edges */
  word-break: break-word; /* Break text if too long */
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.icon {
  font-size: 2rem;
  color: var(--accent);
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-brown);
}

.question-title {
  font-size: 2rem;
  color: var(--dark-brown);
  font-weight: bold;
  margin-bottom: 24px;
  text-align: left;
}

.nav-link {
  color: var(--accent);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--accent-hover);
}

.ant-steps {
  max-width: 600px;
  margin: 0 auto 24px;
}

.ant-steps-horizontal {
  display: flex;
  justify-content: space-between;
}

.ant-steps-item {
  flex: 1;
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: var(--accent) !important; 
  border-color: var(--accent) !important; 
}

/* .ant-steps-item-finish .ant-steps-item-icon {
  background-color: var(--accent) !important; 
  border-color: var(--accent) !important; 
} */

.ant-steps-item-color {
  color: var(--accent) !important; 
}
.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.ant-carousel {
  width: 100%;
}

.slick-slide {
  visibility: hidden;
}

.slick-slide.slick-active {
  visibility: visible;
}
