@font-face {
  font-family: 'CustomFont';
  src: url('../assets/tan-mon-cheri.ttf') format('truetype');
}

@font-face {
  font-family: 'OtherFont';
  src: url('../assets/HankenGrotesk.ttf') format('truetype');
}

body {
  background-color: var(--very-light);
}

.page-title {
  text-align: center;
  color: black;
  font-weight: lighter;
  font-family: 'CustomFont', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.form-wrapper {
  max-width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  text-align: center;
}

.option-circle {
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 12px;
  transition: transform 0.2s;
}

.option-circle:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.option-circle.selected {
  border: 3px solid #3dbdb0;;
}

.option-text {
  position: absolute; /* Absolute positioning for the text */
  color: white;
  text-align: center;
  font-family: 'OtherFont', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  letter-spacing: 2px; /* Adjust letter spacing if needed */
  z-index: 1;
  width: 220px;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center */
  word-break: break-word; /* Break text if too long */
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 2rem;
  color: var(--accent);
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-brown);
}

.question-title {
  font-size: 1.5rem;
  font-family: 'OtherFont', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 32px;
  text-align: center;
}

.nav-link {
  color: var(--accent);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center; /* Center the link */
  display: block; /* Ensure it occupies its own line */
}

.nav-link:hover {
  color: var(--accent-hover);
  cursor: pointer;
}

.ant-steps {
  max-width: 600px;
  margin: 0 auto 24px;
}

.ant-steps-horizontal {
  display: flex;
  justify-content: space-between;
}

.ant-steps-item {
  flex: 1;
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: var(--accent) !important; 
  border-color: var(--accent) !important; 
}
