@font-face {
  font-family: 'CustomFont';
  src: url('../assets/tan-mon-cheri.ttf') format('truetype');
}

@font-face {
  font-family: 'OtherFont';
  src: url('../assets/HankenGrotesk.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
  width: 200vw;
  background: linear-gradient(
    135deg,
    #e6dcc7 0%,
    #e6dcc7 40%,
    #8dcde2 70%,
    #333e85 100%
  );
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.section {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 2rem;
  box-sizing: border-box;
  min-width: 100vw; /* Make each section take up full viewport width */
}

.section h2 {
  font-family: 'CustomFont', sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
}

.section h3 {
  font-family: 'CustomFont', sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
}

.section p {
  font-family: 'OtherFont', sans-serif;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 300;

}

/* Routines */
.routines {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

.daytime-container {
  position: absolute;
  top: 0;
  left: 10%; /* Adjust this value as needed */
  width: 50%; /* Adjust this value to control width */
}

.nighttime-container {
  position: absolute;
  bottom: 0;
  top: 40%;
  right: -40%; /* Adjust this value as needed */
  width: 80%; /* Adjust this value to control width */
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

textarea {
  width: 80%;
  height: 200px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  resize: none;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(-5px, 15px);
  }
  75% {
    transform: translate(-15px, -10px);
  }
}

.floating-image {
  position: absolute;
  width: 200px;
  height: auto;
  pointer-events: none;
  opacity: 0.7;
  animation: float 15s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, 15px);
  }
  50% {
    transform: translate(-10px, 20px);
  }
  75% {
    transform: translate(-20px, -15px);
  }
}

/* Specific styles for individual floating images */
.floating-image:nth-child(2n) {
  animation-duration: 20s;
}

.floating-image:nth-child(3n) {
  animation-duration: 25s;
}

.floating-image:nth-child(4n) {
  animation-duration: 20s;
  animation: float 15s ease-in-out infinite,
}
