body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --very-light: #f0f0f0;
  --background: #e6dcc7;
  --light-brown: #f6eee3;
  --hover-brown: #f0ddc4af;
  --norm-brown: #9c7a50;
  --dark-brown: #68563f;
  --accent: #3dbdb0;
  --accent-hover: #8dc6c5;
}
